<% include _head %>

  <div class="">
    <p class="text-large">
      Welcome <%=user.name%>
    </p>
  </div>
  <div class="">
    <ul class="text-x-small">
      <% if (!user.twitter) {%>
      <li><a href="/auth/twitter">Link Twitter</a></li>
      <%}%>
      <li><a href="/twitter/init">Re-initalize twitter data</a></li>
      <li><a href="/neo4j/setup">Setup neo4j nodes with info</a></li>
    </ul>
  </div>



  <% include _footer %>


<% include _foot %>




