<% include _head %>

  <article class="glass-view">
    <section>
      <div class="layout-figure">
        <div class="">
          <p class="text-x-small">
            Remember everyone
          </p>
        </div>
        <div class="">
          <h1 class="text-large">Welcome to REM</h1>
          <hr>
          <p class="text-large">
            <a href="/login">Login</a>
          </p>
        </div>
      </div>
    </section>
    <footer>
      <p style="float:right" class="text-x-small"><a href="/about">about</a></p>
    </footer>
  </article>

  <% include _footer %>

<% include _foot %>

